# Supabase Configuration
# Get these from your Supabase project settings > API
VITE_SUPABASE_URL=your_supabase_project_url
VITE_SUPABASE_PUBLISHABLE_KEY=your_supabase_anon_key


Connection string

Copy the connection details for your database.

psql -h aws-1-ap-northeast-1.pooler.supabase.com -p 6543 -d postgres -U postgres.ntohwovclsoffwummuxj

host:
aws-1-ap-northeast-1.pooler.supabase.com

port:
6543

database:
postgres

user:
postgres.ntohwovclsoffwummuxj

